<%- include('partials/_header')-%>
<!-- BREADCRUMB START -->
<div class="breadcrumb container">
  <a href="/" class="breadcrumb-item">Home</a>
  <a href="" class="breadcrumb-item">Cart</a>
</div>
<!-- BREADCRUMB END -->
<div class="cart-page container">
  <!-- MESSAGES START -->
  <% if(typeof failMessages !== undefined ){ %>
  <% if( failMessages !== "There is no cart created for this user" ){ %>
  <h3 style="color: red;"><%= failMessages %></h1>
    <% } %>
    <% } %>
    <% if(typeof successMessages !== undefined){ %>
    <h3 style="color: green;"> <%= successMessages %></h1>
      <% } %>
      <% if(typeof failMessages !== undefined ){ %>
      <% if( failMessages == "There is no cart created for this user" ){ %>
      <div class="img-container" style="text-align: center;">
        <img class="img-warning" src="/images/empty.png" alt="">
        <h2> <br> There is no product in your cart yet. </h2>
        <img style="height: 300px;" class="img-warning" src="/images/emp.png" alt="">
      </div>
      <% } %>
      <% } %>
      <!-- MESSAGES END -->
      <% if( failMessages !== "There is no cart created for this user" ){ %>
      <div class="cart">
        <!-- CART PRODUCTS START -->
        <ul class="product-list">
          <% cartProducts.forEach((product) => { %>
          <li>
            <div class="product-img"><img src="/images/<%= product.image %>" alt=""></div>
            <div class="product-detail">
              <h4><%= product.name %></h4>
              <hr>
              <ul class="product-property">
                <% let variant = Object.entries(product.variant) %>
                <% variant.forEach((item) => { %>
                <li><b style="text-transform: capitalize ;"><%= item[0] %></b>: <%= item[1] %></li>
                <% }) %>

                <li><b>Unit Price</b>: $<%= product.price %></li>
                <li><b>Subtotal</b>: $<%= (product.price) * (product.quantity) %></li>
              </ul>
            </div>
            <form class="product-act" method="post">
              <a href="/cart/removeItem/<%= product.id %>/<%= product.variantId %>/?_method=DELETE" class="pbtn delete-btn"><i class="fas fa-times"></i></a>
              <div class="quantity">
                <label for="quantity">Quantity: </label><input type="number" name="quantity" min="1" id="quantity" value="<%= product.quantity %>">
              </div>
              <input type="submit" formaction="/cart/changeItemQuantity/<%= product.id %>/<%= product.variantId %>" value="Update" class="pbtn update-btn" />
            </form>
          </li>
          <% }) %>
        </ul>
        <!-- CART PRODUCTS END -->
        <hr>
        <!-- CREATE ORDER START -->
        <form action="/order/createOrder" method="post">
          <div class="get-order">
            <div class="order-left">
              <label for="addreess">Delivery Address:
                <input name="address" id="address" cols="3" rows="4" required></textarea>
              </label>
            </div>
            <div class="order-right">
              <h4>Total : $<%= totalPrice %></h4>
              <input type="submit" value="Create Order" class="btn-card" />
            </div>
          </div>
        </form>
        <!-- CREATE ORDER END -->
      </div>
      <% } %>
</div>
</div>
<%- include('partials/_footer')-%>