<%- include('partials/_header')-%>
<!-- BREADCRUMB START -->
  <div class="breadcrumb container">
    <a href="/" class="breadcrumb-item">Home</a>
    <a href="" class="breadcrumb-item"><%= rootData.name %></a>
  </div>
  <!-- BREADCRUMB END -->
  <div class="page-title">
    <!-- ROOT DATA INFO START -->
    <div class="container">
      <h1><%= rootData.name %></h1>
      <p><%= rootData.page_description %></p>
    </div>
    <!-- ROOT DATA INFO END -->
  </div>
  <!-- SUBCATEGORIES START -->
  <div class="container cat-list">
    <% for(let i=0; i<parentData.length; i++) { %>
    <div class="cat-card">
      <h3><%= parentData[i].name %></h3>
      <div class="card-img">
        <img src="/images/<%= parentData[i].image %>" alt="">
      </div>
      <p><%= parentData[i].page_description %></p>
      <a href="/categories/<%= parentData[i].parent_category_id %>/<%= parentData[i].id %>" class="btn-card">View Categories <i class="fas fa-angle-double-right arrow"></i></a>
    </div>
    <% } %>

  </div>
    <!-- SUBCATEGORIES END -->
  <%- include('partials/_footer')-%>