<%- include('partials/_header')-%>
<div class="breadcrumb container">
  <a href="/" class="breadcrumb-item">Home</a>
  <a href="" class="breadcrumb-item">Wishlist</a>
</div>
<div class="cart-page container">
  <% if(typeof failMessages !== undefined ){ %>
  <% if( failMessages !== "There is no wishlist created for this user" ){ %>
  <h3 style="color: red;"><%= failMessages %></h1>
    <% } %>
    <% } %>
    <% if(typeof successMessages !== undefined){ %>
    <h3 style="color: green;"> <%= successMessages %></h1>
      <% } %>
      <% if(typeof failMessages !== undefined ){ %>
      <% if( failMessages == "There is no wishlist created for this user" ){ %>
      <div class="cart-alert">
        <img class="img-warning" src="/images/brokenheart.png" alt="">
        <h2> <br> There is no product in your wishlist yet.</h2>
      </div>
      <% } %>
      <% } %>

      <% if( failMessages !== "There is no wishlist created for this user" ){ %>
      <% if(wishProducts){ %>
      <div class="cart">
        <ul class="product-list">
          <% wishProducts.forEach((product) => { %>
          <form action="" method="post">
            <li>
              <div class="product-img"><img src="/images/<%= product.image %>" alt=""></div>
              <div class="product-detail">
                <h4><%= product.name %></h4>
                <hr>
                <ul class="product-property">
                  <% let variant = Object.entries(product.variant) %>
                  <% variant.forEach((item) => { %>
                  <li><b style="text-transform: capitalize ;"><%= item[0] %></b>: <%= item[1] %></li>
                  <input class="none" type="text" name="<%= item[0] %>" id="<%= item[0] %>" value="<%= item[1] %>">
                  <% }) %>

                  <li><b>Unit Price</b>: $<%= product.price %></li>
                  <li><b>Subtotal</b>: $<%= (product.price) * (product.quantity) %></li>
                </ul>
              </div>
              <div class="product-act">
                <a href="/wishlist/removeItem/<%= product.id %>/<%= product.variantId %>/?_method=DELETE" class="pbtn delete-btn"><i class="fas fa-times"></i></a>
                <div class="quantity">
                  <label for="quantity">Quantity: </label><input type="number" name="quantity" min="1" id="quantity" value="<%= product.quantity %>">
                </div>
                <input type="submit" formaction="/wishlist/changeItemQuantity/<%= product.id %>/<%= product.variantId %>" value="Update" class="pbtn update-btn" />
                <input type="submit" formaction="/cart/addItem/<%= product.primaryCategoryId %>/<%= product.id %>/wish" value="Add To Cart" class="btn-card btn-cart" />
              </div>
            </li>
          </form>
          <% }) %>
          <% } %>
          <% } %>
        </ul>
      </div>
</div>
</div>
<%- include('partials/_footer')-%>